body {
  background-color: lightGrey;
  font-family: fantasy;
}
.container {
  width:auto;
  height:auto;

}

.brand {
  background: lightSalmon;
  grid-area: brand;
}

.glonav {
  background: lightSalmon;
  grid-area: glonav;
}

.tools {
  background: lightSalmon;
  grid-area: tools;
}

.herofeat {
  background: lightSalmon;
  grid-area: herofeat;
}

.herocall {
  background: lightSalmon;
  grid-area: herocall;
}

.artfeat {
  background: lightSalmon;
  grid-area: artfeat;
}

.artlist {
  background: lightSalmon;
  grid-area: artlist;
}

.ad {
  background: lightSalmon;
  grid-area: ad;
}

.sidebar {
  background: lightSalmon;
  grid-area: sidebar;
}

.footer {
  background: red;
  grid-area: footer;
}



@media (max-width: 576px){
  .container {
    display: grid;
    height: 500px;
    width: 100%;
    grid-gap: 20px;
    grid-template-columns: 60% 40%;
    grid-template-rows: 0.8fr 0.8fr 1fr 1fr auto 0.8fr;
    grid-template-areas:
    "brand brand"
    "glonav tools"
    "artfeat artfeat"
    "ad ad"
    "artlist artlist"
    "footer footer";
  }
  .herofeat {
    display: none;
  }

  .sidebar {
    display: none;
  }

}

@media (min-width: 576px){
  .container {
    display: grid;
    height: 100vh;
    width: 100%;
    grid-gap: 10px;
    grid-template-columns: 25% auto 25%;
    grid-template-rows: 0.8fr 0.8fr 0.8fr 1.5fr 1fr auto 0.8fr;
    grid-template-areas:
    "brand glonav tools"
    "glonav tools"
    "herofeat herofeat herofeat"
    "herocall herocall herocall"
    "artfeat artfeat ad"
    "artlist artlist artlist"
    "sidebar sidebar sidebar"
    "footer footer footer";
  }

}
@media (min-width: 920px){
  .container {
    display: grid;
    height: 100vh;
    width: 100%;
    grid-gap: 20px;
    grid-template-columns: repeat (12, 1fr);
    grid-template-rows: 10% 20% auto 10%;
    grid-template-areas:
    "brand brand glonav glonav glonav glonav glonav glonav glonav tools tools tools"
    "herofeat herofeat herofeat herofeat herofeat herofeat herocall herocall herocall add add add"
    "artfeat artfeat artfeat artlist artlist artlist artlist artlist artlist sidebar sidebar sidebar"
    "footer footer footer footer footer footer footer footer footer footer footer footer";
  }

}
